<?xml version="1.0"?>
<launch>
    <group>
        <arg name="map_file" default="$(find autonomous_docking)/maps/charger_map_dock.yaml"/>
        <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>
        <include file="$(find simulation)/launch/amcl_omni.launch" />
        <include file="$(find simulation)/launch/localization_local.launch" />
        <include file="$(find simulation)/launch/fake_localization.launch" />
    </group>
    <group>
        <include file="$(find autonomous_docking)/launch/hokuyo.launch" />
        <node pkg="autonomous_docking" name="laser_localization_node" type="laser_localization_node" output="screen"></node>
    </group>
    <group>
        <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
        <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />
        <node pkg="autonomous_docking" name="apriltag_localization_node" type="apriltag_localization_node" output="screen"></node>
    </group>
</launch>
