<?xml version="1.0" ?>

<launch>
  <arg name="frame_id" default="hokuyo_front" />
  <arg name="ip_address" default="192.168.0.11" />
  <arg name="angle_min" default="-1.2" /> <!--bør være under 70 grader-->
  <arg name="angle_max" default="1.2" />
  <arg name="publish_intensity" default="true"/>
  <arg name="intensity" default="true"/>
  <arg name="cluster" default="1"/>
  <arg name="skip" default="1"/>
  <arg name="calibrate_time" default="true"/>
  <arg name="node_name" default="hokuyo_node" />
  <arg name="topic_name" default="scan" />

  <node pkg="urg_node" type="urg_node" name="$(arg node_name)" output="screen" >
    <param name="ip_address" value="$(arg ip_address)" />
    <param name="angle_min" value="$(arg angle_min)" />
    <param name="angle_max" value="$(arg angle_max)" />
    <param name="intensity" value="$(arg intensity)"/>
    <param name="publish_intensity" value="$(arg publish_intensity)"/>
    <param name="cluster" value="$(arg cluster)"/>
    <param name="skip" value="$(arg skip)"/>
    <param name="calibrate_time" value="$(arg calibrate_time)"/>
    <param name="frame_id" value="$(arg frame_id)" />
    <!-- <param name="enable_odom_tf" value="True" />
    <param name="odom_frame_id" value="odom" /> -->
    <remap from="scan" to="scan_front" />
    <param name="allow_unsafe_settings" value="True"/>
  </node>

</launch>
